---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Languages",
		desc: "JavaScript, TypeScript, PHP.",
		href: "https://astro.build",
	},
	{
		title: "Libraries and frameworks",
		desc: "React, React Native, Expo, Redux Toolkit,",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Project management and work dynamics",
		desc: "Git, Notion, Bash.",
		href: "https://tailwindcss.com",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi, Dante here! 👋🏻</h1>
		<p class="mb-4">
			✨ I'm a student of programming from Argentina <br />
			🧠 Strongly interested in everything related to computing, cryptography and technology <br />
			💻 Always learning, currently focused on full stack development and Ethereum smart contract programming
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
