---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projectList: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Libly",
		desc: "It is the technological project with which I will graduate as a secondary technician in programming. It consists of a mobile app that provides onboarding and digital cards to the school library, and could be extrapolated to other institutions that work with members, such as libraries, gyms, clubs, or similar.",
		href: "https://x.com/d4rm_/status/1722034025190023404", 
	},
	{
		title: "El Burro Podcast",
		desc: "a funny and relaxed podcast that I co-create, co-host and produce with three friends.",
		href: "https://linktr.ee/realburropodcast",
	},
	{
		title: "d4rm.xyz",
		desc: "this website! built with Astro and Astro Cactus template.",
		href: "https://github.com/d4rm5/d4rm.xyz",
	},
	{
		title: "journal-d4rm",
		desc: "a note taking app built with React, Redux Toolkit, Material UI and Firebase for the React course from Fernando Herrera.",
		href: "https://github.com/d4rm5/journal-d4rm",
	},
	{
		title: "IMDD",
		desc: "a movie review website built with PHP, Bootstrap 5 and MySQL for a school project.",
		href: "https://github.com/d4rm5/IMDD",
	},
	{
		title: "Punto de interés",
		desc: "podcast interview series that I created, hosted and produced in the winter of 2021.",
		href: "https://pod.link/puntodeinteres",
	},
];
---

<PageLayout meta={{ title: "Hi, Dantesito here! 👋🏻", description:"Overall, I am passionate about tech and computing (my father's fault for sitting me in front of a computer when I was 3 years old). In the last few years, I have been strongly interested in programming, cryptography, and all the topics related to the Ethereum and blockchain ecosystem, to which I would like to contribute as an engineer in the future."}}>
	<section>
		<h1 class="title mb-6">Hi, Dantesito here! 👋🏻</h1>
		<h2 class="mb-5 font-bold">Student, developer & web3 passionate ✨</h2>
		<div class="mb-4">
			<p>
				Overall, I am passionate about tech and computing (my father's fault for sitting me in front of a computer when I was 3 years old). In the last few years, I have been strongly interested in programming, cryptography, and all the topics related to the Ethereum and blockchain ecosystem, to which I would like to contribute as an engineer in the future.
			</p> <br/>
			<p>
				Currently, I'm finishing my technical high school education in the field of programming, and next year I am going to start studying systems engineering at UNICEN with the expectation of nurturing myself to contribute to the world in the future.
			</p>
		</div>
	</section>
	<SocialList/>
	<section class="mt-8">
		<h2 class="title mb-4 text-xl">Here some of my projects ↓</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projectList.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>:
						<p class="inline sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
	
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Articles 📁</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		
	</section>
	
</PageLayout>
